extends layout

include mixins/_reviewForm
include mixins/_review

block content
  .single
    .single__hero
      img.single__image(src=`/uploads/${masjid.photo || 'masjid.png'}`)
      h2.title.title--single
        a(href=`/masjid/${masjid.slug}`) #{masjid.name}

  .single__details.inner
    img.single__map(src=h.staticMap(masjid.location.coordinates))
    p.single__location= masjid.location.address
    center
        p= `${":"} : ${":"}`
        p= `${"Year Founded"} : ${masjid.year_founded}`
        p= `${"Mosque Type"} : ${masjid.mosque_category}`
        p= `${"Mosque  Ownership Structure"} : ${masjid.mosque_type}`
        p= `${"Average Population Size"} : ${masjid.population}`
        p= `${"Language of Service"} : ${masjid.lang_services}`
        p= `${"Name of Imam"} : ${masjid.imam_name}`
        p= `${"Contact no"} : ${masjid.imam_phone_no}`
        p= `${"Madrasah name"} : ${masjid.madrasah_name}`
        p= `${"Admin Officer/Mudir/Director of Studies"} : ${masjid.madrasah_contact_name}`
        p= `${"Contact no"} : ${masjid.madrasah_phone_no}`
        p= `${"Mosque Website"} : ${masjid.website}`
        p= `${"Mosque Describtion"} : ${masjid.description}`
    p
    strong Features of the Mosque 
    p
    if masjid.tags
      ul.tags
        each tag in masjid.tags
          li.tag
            a.tag__link(href=`/tags/${tag}`)
              span.tag__text  ##{tag}

    if user
      +reviewForm(masjid)

    if masjid.reviews
      .reviews
        each review in masjid.reviews
          .review
            +review(review)
