mixin masjidForm(masjid = {})
  form(action=`/add/${masjid._id || ''}` method="POST" class="card" enctype="multipart/form-data")
    //-pre= h.dump(masjid)
    
    p
      strong Profile of the Mosque
    //- Profile Of the Mosque
    label(for="name") Name of Mosque
    input(type="text" name="name" value=masjid.name placeholder="Insert name of Mosque")
    label(for="year_founded") Year Founded
    input(type="number" name="year_founded" value=masjid.year_founded placeholder="Year format should be yyyy")
    label(for="categories") Check the category that best describes the Mosque
    - const categories = ['Basic', 'Jumat', 'Basic and Madrasah', 'Jumat and Madrasah', 'Eid Praying Ground']
    - const mosque_category = masjid.mosque_category || []
    ul.tags
      each category in categories
        .tag.tag__choice
          input(type="radio" id=category value=category name="mosque_category" checked=(mosque_category.includes(category)))
          label(for=category) #{category}
    label(for="mosqueTypes") Mosque Ownership Structure
    - const mosqueTypes = ['Muslim Community Owned', 'Islamic Society Owned', 'Family Owned', 'Government Owned', 'Privately Owned', 'Generally Owned']
    - const mosque_type = masjid.mosque_type || []
    ul.tags
       select(id=mosqueType value=mosqueType name="mosque_type")
        each mosqueType in mosqueTypes
          option(selected=(mosque_type.includes(mosqueType))) #{mosqueType}
          label(for=mosqueType) #{mosqueType}
    label(for="population") Population Size
    input(type="number" name="population" value=masjid.population placeholder="average population capacity")
    label(for="langservices") Language of Service
    - const langservices = ['English', 'Yoruba', 'Hausa', 'Igbo', 'Arabic', 'French', 'Yoruba and Hausa', 'Yoruba and Igbo', 'Igbo and Hausa']
    - const lang_services = masjid.lang_services || []
    ul.tags
       select(id=lang value=lang name="lang_services")
        each lang in langservices
          option(selected=(lang_services.includes(lang))) #{lang}
          label(for=lang) #{lang}
    label(for="website") Website (if any)
    input(type="text" name="website" value=masjid.website placeholder="website")
    label(for="description") Description
    textarea(name="description" placeholder="Describe your mosque more in details")= masjid.description
    p
      strong Features of the Mosque
    //- Features of the Mosque
    label(for="choices") Check one or more features as appropriate
    - const choices = ['Basic/Ratibi', 'Central Jumat', 'Structured', 'Registered', 'Unregistered', 'Toilet', 'Borehole', 'Prayer Hall', 'Ablution Area', 'Madrasah', 'Islamic Bank Account', 'Conventional Bank Account', 'Library', 'Generator', 'Minaret', 'Minbar', ]
    - const tags = masjid.tags || []
    ul.tags
      each choice in choices
        .tag.tag__choice
          input(type="checkbox" id=choice value=choice name="tags" checked=(tags.includes(choice)))
          label(for=choice) #{choice}
    p
      strong Custodians of the Mosque
    //- Custodians Of the Mosque
    label(for="imam_name") Name of Imam
    input(type="text" name="imam_name" value=masjid.imam_name placeholder="Insert full name of Imam")
    label(for="imam_phone_no") Phone number of Imam
    input(type="number" name="imam_phone_no" value=masjid.imam_phone_no placeholder="Preferrably WhatsApp Line")
    label(for="sec_name") Name of Deputy Imam / Mosque Secretary / Mosque Admin or Committee member
    input(type="text" name="sec_name" value=masjid.sec_name placeholder="Insert full name")
    label(for="sec_phone_no") Phone number 
    input(type="number" name="sec_phone_no" value=masjid.sec_phone_no placeholder="Preferrably WhatsApp Line")
    label(for='imams') Check the boxes that best describes the Mosque Imams.
      - const imams = ['Employed ', 'Unemployed', 'Self Employed', 'Full Time', 'Part Time', 'Educated', 'Uneducated', 'Youth', 'Elderly']
      - const imam_tags = masjid.imam_tags || []
      ul.tags
        each imam in imams
          .tag.tag__choice
            input(type="checkbox" id=imam value=imam name="imam_tags" checked=(imam_tags.includes(imam)))
            label(for=imam) #{imam}
    p
      strong Madrasah Details (Please complete If available)
    label(for="madrasah_name") Name of Madrasah
    input(type="text" name="madrasah_name" value=masjid.madrasah_name placeholder="Insert name of Madrasah")
    label(for="madrasah_contact_name") Admin Officer/Mudir/Director of Studies
    input(type="text" name="madrasah_contact_name" value=masjid.madrasah_contact_name placeholder="Insert full name")
    label(for="madrasah_phone_no") Phone number
    input(type="number" name="madrasah_phone_no" value=masjid.madrasah_phone_no placeholder="Preferrably WhatsApp Line")
    label(for='choices') Check the boxes that best describes the Madrasah.
      - const madrasahs = ['Arabic Studies', 'Quran Memorization', 'Islamic Religiuos Studies', 'Arabic Speaking', 'Boarding Facility', 'Primary and Secondary Level']
      - const madrasah_tags = masjid.madrasah_tags || []
      ul.tags
        each madrasah in madrasahs
          .tag.tag__choice
            input(type="checkbox" id=madrasah value=madrasah name="madrasah_tags" checked=(madrasah_tags.includes(madrasah)))
            label(for=madrasah) #{madrasah}
    p
      strong Location of the Mosque or Madrasah
    //- Image Upload
    label(for="photo") Front Photo view of Masjid
      input(type="file" name="photo" id="photo" accept="image/gif, image/png, image/jpeg")
      if masjid.photo
        img(src=`/uploads/${masjid.photo}`, alt=masjid.name width=200)
    //- address, lng and lat
    label(for="address") Address
    input(type="text" id="address" name="location[address]" value=(masjid.location && masjid.location.address))
    label(for="lng") Address Lng
    input(type="text" id="lng" name="location[coordinates][0]" value=(masjid.location && masjid.location.coordinates[0]) placeholder="Auto generated upon Address selection from autocomplete" required)
    label(for="lat") Address Lat
    input(type="text" id="lat" name="location[coordinates][1]" value=(masjid.location && masjid.location.coordinates[1]) placeholder="Auto generated upon Address selection from autocomplete" required)
    label(for="city") City
    input(type="text" id="city" name="location[city]" value=(masjid.location && masjid.location.city))
    label(for="state") State
    input(type="text" id="state" name="location[state]" value=(masjid.location && masjid.location.state))
    
    input(type="submit" value="Save →" class="button")
    